
@{
    ViewBag.Title = "Home Page";

}

@section scripts{
<script src="~/scripts/Propios/Usuarios.js"></script>
}

<h2>Home</h2>

<div ng-app="UsuarioApp">
    <div ng-controller="UsuarioController">
        {{message}}
    </div>
</div>